@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Joan", serif;
}


:root {
    --clr-purple: #c0c2ff;
    --clr-purple-light: #efe5ff;
    --clr-black: #191919;
    --clr-white: #fff;
    --clr-gray-text: #78727f;
}

/* Components */
.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;

    color: var(--clr-black);
    background-color: var(--clr-white);
    cursor: pointer;
}

.btn--dark {
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.section {
    padding: 96px 4rem;
}

.section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* Home */

#home {
    padding: 72px 4rem;
    background-image: linear-gradient(to right bottom, #c0c2ff, #cecaff, #dbd3fe, #e6dcff, #efe5ff);
}

.home-container {
    width: 100%;
    max-width: 960px;

    display: flex;
    flex-direction:  column;
    align-items: center;
    margin: 0 auto;
}

#home .title {
    font-size: 4.5rem;
    width: 80%;
    max-width: 730px;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

#home .desc {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
    max-width: 730px;
}

#home .btns-container {
    display: flex;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#home .hero-img {
    width: 100%;
    margin-bottom: 2rem;
}

#home .comment {
    color: var(--clr-gray-text);
    text-align: center;
    margin-bottom: 1.5rem;
}

#home .partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Features */
#features .features__title {
    font-size: 3rem;
    text-align: center;

    margin-bottom: 3rem;
}

#features .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

#features .benefit *:not(:last-child) {
    margin-bottom: 0.5rem;
}

#features .benefit .benefit__img {
    width: 30%;
}

/* Catalog */
#catalog .info {
    width: 45%;
}

#catalog .info__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#catalog .info__text {
    color: var(--clr-gray-text);
    margin-bottom: 1.25rem;
}

#catalog .info__link {
    color: var(--clr-black);
    text-decoration: none;
}

#catalog .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#catalog .catalog__img {
    width: 45%;
    max-width: 500px;
}





