body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: rgb(255,255, 255);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 15px -3px #000000;
}